.qp-list {
  padding: 10px 40px;
}

.qp-list__header {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 30px;
  color: white;
  justify-content: space-between;
}

.qp-list__banner-img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.qp-list__header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
}

.qp-list__header-title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 20px;
}

.qp-list__header-description {
  margin-bottom: 40px;
}
